*{
    margin: 0;
    padding: 0;;
}
.FCont{
display: flex;
flex-direction:column ;

}

label{
    display: inline;
}
.btimg{
    height: 70px;
    padding-left: 20px;
   
}
.Bot{
    display: flex;
   
    align-items: center;
}
.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.Form button{
   width: 80px;
   margin-top: 4px
}